$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "vars";

html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1 {
    color: #1c5c76;
    font-size: 2em;
    line-height: 1;
    letter-spacing: -1px;
}
.note-list {
  margin-top: 5em;
}
ul.notes {
  margin: 0;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0;
  
  form {
    input, 
    textarea {
      background-color: $yellow;
      margin-bottom: 1em;
      &:focus {
        background-color: white;
      }
    }
    textarea {
      height: 100px;
    }
  }
  
  li.note {
    background-color: $yellow;
    clear: both;
    list-style-type: none;
    margin-bottom: 2em;
    padding: 1em;
    @include box-shadow(0 0 2px rgba(0,0,0,0.3));
    .inner {
      border-left: 1px solid #fce3b0;
      margin-left: 33px;
      padding-left: 15px;
    }
    .date {
      color: #1c5c76;
    }
    p.desc {
      margin: 10px 0 10px;
    }
  }
}