$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "vars";

html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.app {
  .desc, 
  .date {
    display: none;
  }
  .note {
    .edit {
      display: none;
    }
    &.editing .edit {
      display: block;
    }
    .view {
      display: block;
    }
    &.editing .view {
      display: none;
    }
  }
  
  .icon {
    color: $blue;
    margin-right: 1em;
  }
  h3 {
    color: $blue;
    font-size: 1.4em;
  }
  h1 {
      color: $blue;
      font-size: 2em;
      line-height: 1;
      letter-spacing: -1px;
  }

  ul.notes {
    margin: 0;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0;

    form {
      input, 
      textarea {
        background-color: $yellow;
        margin-bottom: 1em;
        &:focus {
          background-color: white;
        }
      }
      textarea {
        height: 100px;
      }
      input[type='submit'] {
        color: $blue;
        width: 100%;
      }
    }

    li.note {
      background-color: $yellow;
      clear: both;
      list-style-type: none;
      margin-bottom: 2em;
      padding: 1em;
      @include box-shadow(0 0 2px rgba(0,0,0,0.3));
      .inner {
        border-left: 1px solid #fce3b0;
        margin-left: 33px;
        padding-left: 15px;
      }
      .date {
        color: #1c5c76;
      }
      p.desc {
        margin: 10px 0 10px;
      }
    }
  }
}
