div(class='container col-md-5')
    h1 Gestionnaire de notes
    div.note-add
      ul(class='notes new-note')
        li.note
          .inner
            form#note-form(ng-submit='addNote()')
              input#new-note(type='text', placeholder='Title', autofocus='autofocus', class='form-control', ng-model='newNote.title', )
              textarea#new-note(placeholder='Description', ng-model='newNote.desc', autofocus='autofocus', class='form-control')
              input#new-note(type='hidden', placeholder='Date', ng-model='newNote.date', autofocus='autofocus', class='form-control')
      div(class="submit text-center")
        button(class='btn btn-lg btn-default', type='button', ng-click='addNote()')
          | Ajouter une note
    hr
    div.note-list
      h3 Liste des notes
      ul.notes.all-notes         
        li(class='note' ng-repeat='note in notes')
          .inner
            h3.title {{note.title}}
            .date {{note.date}}
            p.desc {{note.desc}}
    
    
